body{
	color: rgb(50,50,50);
	background-color: rgb(215, 215, 215);
	overflow: hidden;
	font-family: sans-serif;
}

header {
	overflow: hidden;
  margin: 0 auto;
}

h1 {
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 42px;
	border-bottom: 1px solid;
}

a {
	text-decoration: none;
}
a:visited {
	color: rgb(50,50,50);
}

#main_block {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 70%;
	height: 500px;
	border-left: 2px solid rgb(200,200,200);
	border-right: 2px solid rgb(200,200,200);
	/*background-color: rgb(205,205,205);*/
	text-align: center;
}

#title {
	margin: auto;
	margin-bottom: 20px;
	text-align: left;
	width: 85%;
	border-bottom: 1px solid rgb(50,50,50);
	font-size: 32px;
}

#sign_in {
	text-decoration: none;
	margin: 0 auto;
	margin-left: 10%;
	margin-bottom: 2%;
	float: left;
	width: 35%;
	height: 325px;
	padding: 5px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
	border: 1px solid rgb(215,215,215);
}

#sign_up {
	text-decoration: none;
	margin: 0 auto;
	margin-bottom: 2%;
	margin-left: 5%;
	float: left;
	width: 35%;
	height: 325px;
	padding: 5px;
	background-color: rgb(230,230,230);
	border-radius: 5px;
	border: 1px solid rgb(215,215,215);
}

a:hover {
	color: rgb(75,75,75);
}

